{% load staticfiles %}
<meta charset="UTF-8">

 <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/skeleton.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/image-import.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />

<!-- NavBar Personal Design -->
<div id="navbar-container"></div>


<script type="text/template" id="navbar-template">
	{% include "header/navbar.html" %}
</script>
