<div class="navbar">
	<div class="navbar-container">
		<div class="navbar-logo"></div>
		<div class="navbar-selectors">
			<div id="navbar-home" class="navbar-selector">Home</div>
			<div id="navbar-about" class="navbar-selector">About</div>
			<div id="navbar-careers" class="navbar-selector">Careers</div>
			<div id="navbar-services" class="navbar-selector">Services</div>
			<div id="navbar-recruiting" class="navbar-selector">Recruiting</div>
			<div id="navbar-contact" class="navbar-selector">Contact</div>
			<div id="navbar-apply" class="navbar-selector">Apply</div>
		</div>
	</div>
</div>
