<div class="navbar">
</div>

<div class="navbar-logo"></div>
<div class="navbar-menu-button">
	<p class="navbar-menu-text"> Menu </p>
</div>

<div class="navigation-background"></div>
<div class="navigation-menu-selection">
	<div class="inner">
	  <h2 align="center">MENU</h2>
	  <ul class="links">
	    <li id='navbar-home'><a>Home</a></li>
	    <li id='navbar-about'><a>About</a></li>
	    <li id='navbar-careers'><a>Careers</a></li>
	    <li id='navbar-services'><a>Services</a></li>
	    <li id='navbar-recruiting'><a>Recruiting</a></li>
	    <li id='navbar-apply'><a>Apply</a></li>
	  </ul>
	  <div class="close"></div>
	</div>
</div>