{% load staticfiles %}
{% include "header.html" %}
<link rel="stylesheet" type="text/css" href="{% static "css/members.css" %}" />


<div class="display-box">
	<div class="personal-picture felix-picture"></div>
	<div class="personal-text">
		<div class="personal-title">
			Felix Liu
		</div>
		<div class="personal-description">
			<p>
			Felix Liu is a fourth year studying EECS and is really tall. He joined Voyager three semesters ago and has worked on the Twitch and NBA project. In his free time, he enjoys longboarding and chilling with his ManlyMen bros. Felix has interned at the companies Gap Inc and SurveyMonkey and has done extensive work in developing email systems and websites. He is also part of the EECS honor society, HKN, and has served as a tutor in the past. 
			</p>
		</div>
	</div>
</div>


{% include "footer.html" %}
<script type="text/javascript" src="{% static "js/tween-member.js" %}"></script>

