{% load staticfiles %}
{% include "header.html" %}
<link rel="stylesheet" type="text/css" href="{% static "css/members.css" %}" />


<div class="display-box style-blue">
	<div class="personal-picture olivia-picture"></div>
	<div class="personal-text">
		<div class="personal-title">
			Olivia Gu
		</div>
		<div class="personal-description">
			<p>
				Olivia is a third year studying Business Administration and Computer Science. Olivia began in Voyager as a consultant on the Twitch project and later was the project manager on the NBA project. Outside Voyager, Olivia has interned at Facebook and UBS and in her free time, enjoys sailing and going on adventures into the city.
			</p>
		</div>
	</div>
</div>


{% include "footer.html" %}
<script type="text/javascript" src="{% static "js/tween-member.js" %}"></script>

