{% load staticfiles %}
{% include "header.html" %}
<link rel="stylesheet" type="text/css" href="{% static "css/members.css" %}" />


<div class="display-box style-blue">
	<div class="personal-picture savan-picture"></div>
	<div class="personal-text">
		<div class="personal-title">
			Savan Patel
		</div>
		<div class="personal-description">
			<p>
			Savan is a third year studying Computer Science and Rhetoric. Within Voyager, he helped grow the club’s client base to include later stage and established tech companies by solidifying agreements with clients such as Amazon, Pinterest, Box and Twitch TV. This summer he interned at Box in the User Operations department and currently is a venture capital associate at DoubleRock. In his free time, he enjoys following his hometown Trailblazers and watching his favorite sitcom The League.
			</p>
		</div>
	</div>
</div>


{% include "footer.html" %}
<script type="text/javascript" src="{% static "js/tween-member.js" %}"></script>

