{% load staticfiles %}
{% include "header.html" %}
<link rel="stylesheet" type="text/css" href="{% static "css/members.css" %}" />


<div class="display-box style-blue">
	<div class="personal-picture ted-picture"></div>
	<div class="personal-text">
		<div class="personal-title">
			Ted Xiao
		</div>
		<div class="personal-description">
			<p>
				Ted is a third year majoring in EECS and minoring in IEOR. Ted joined Voyager as a freshman on the Warby Parker team, and has served as a project leader for the Valve project. In his spare time, Ted enjoys playing chess and roller hockey.
			</p>
		</div>
	</div>
</div>


{% include "footer.html" %}
<script type="text/javascript" src="{% static "js/tween-member.js" %}"></script>

