.crystal-picture {
	background-image: url("../images/members/crystal.jpg");
}

.ted-picture {
	background-image: url("../images/members/ted.jpg");
}

.olivia-picture {
	background-image: url("../images/members/olivia.jpg");
}

.margarita-picture {
	background-image: url("../images/members/margarita.jpg");
}

.savan-picture {
	background-image: url("../images/members/savan.jpg");
}

.felix-picture {
	background-image: url("../images/members/felix.jpg");
}

.sumedh-picture {
	background-image: url("../images/members/sumedh.jpg");
}

.robbie-picture {
	background-image: url("../images/members/robbie.jpg");
}

.natalie-picture {
	background-image: url("../images/members/natalie.jpg");
}

.bain-picture {
	background-image: url("../images/bain.jpg")
}

.deloitte-picture {
	background-image: url("../images/deloitte.jpg")
}

.mckinsey-picture {
	background-image: url("../images/mckinsey-logo.png")
}

.credit-picture {
	background-image: url("../images/credits.png")
}

.blackrock-picture {
	background-image: url("../images/blackrock-logo.jpg")
}

.goldman-picture {
	background-image: url("../images/goldman-sachs.png")
}

.apple-picture {
	background-image: url("../images/apple-logo.png")
}

.google-picture {
	background-image: url("../images/google-logo.png")
}

.surveymonkey-picture {
	background-image: url("../images/surveymonkey.png")
}


