body {
	background-color: black;
	font-family: 'Cabin', sans-serif;
}

.white {
	color: white;
}

.black-background {
	background-color: black;
}

.black {
	color: black !important;
}

.arrow-wrapper-left {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 36px;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 70; left: 70;
	z-index: 1;
}

.arrow-wrapper-right {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 36px;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 70; right: 70;
	z-index: 1;
}

.arrow-wrapper-right:hover {
	cursor: pointer;
}

.arrow-wrapper-left:hover {
	cursor: pointer;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid white;
	position: relative;
	margin: auto;
	margin-right: 22px;
	margin-top: 14px;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right: 20px solid white; 
	position: relative;
	margin: auto;
	margin-left: 22px;
	margin-top: 14px;
}



.background-smolder {
	background-color: black;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.5;
}

.carousel-smolder {
	opacity: 0.7;
}

.company {
	height: 250px;
	width: 250px;
	/*border: 2px solid black;*/
	margin: 10px;
	display: inline-block;
	background-size: cover;
}

.company-overlay {
	background-color: black;
	height: 100%;
	width: 100%;
	opacity: 0.3;
}

.company-container {
	width: 100%;
	text-align: center;
}
.about-selector {
	border: 3px solid white;
	width: 45%;
	font-size: 20px;
	height: 30px;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	margin-left: 2%;
	margin-right: 2%;
	color: white;
	line-height: 30px;
}

.paragraph {
	/*color: white;*/
	margin-bottom: 60px;
	font-size: 20px;
}

.crystal-picture {
	background-image: url("../images/members/crystal.jpg");
}

.ted-picture {
	background-image: url("../images/members/ted.jpg");
}

.olivia-picture {
	background-image: url("../images/members/olivia.jpg");
}

.margarita-picture {
	background-image: url("../images/members/margarita.jpg");
}

.savan-picture {
	background-image: url("../images/members/savan.jpg");
}

.felix-picture {
	background-image: url("../images/members/felix.jpg");
}

.sumedh-picture {
	background-image: url("../images/members/sumedh.jpg");
}

.robbie-picture {
	background-image: url("../images/members/robbie.jpg");
}

.natalie-picture {
	background-image: url("../images/members/natalie.jpg");
}

.picture-frame {
	width: 60%;
	height: 100%;
	background-color: black;
	position: absolute;
	/*text-align: center;*/
}

.text-frame {
	width: 40%;
	height: 100%;
	right: 0;
	background-color: black;
	position: absolute;

}

.member-picture {
	/*border: 1px solid black;*/
	/*margin: 0 auto;*/
	float: left;
	background-color: gray;
	/*display: inline-block;*/
	background-repeat: no-repeat;
	background-size: cover;
}

.mission-title {
	color: white;
	text-align: center;
	margin-top: 40px;
}

.line-break {
	width: 100%;
	height: 1px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: white;
}

.career-whitespace {
	width: 100%;
	height: 60px;
}

	/*.career-line-break {
		margin-top: 40px;
		margin-bottom: 80px;
	}*/

.picture {
	position: relative;
	height: 450px;
	width: 100%;
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 30%;
}

.about-picture {
	background-image: url("../images/team.jpg");
}

.career-picture {
	background-image: url("../images/careers.jpeg");
	opacity: 0.3;
	position: absolute;
}

.about-launch {
	width: 100%;
	background-color: black;
	position: relative;
}

.career-launch {
	width: 100%;
	background-color: black;
	position: absolute;
	top: 450px;
}

.about-alumni {
	background-color: white;
}

.main-title {
	color: white;
	font-size: 500%;
}

.title-logo {
	position: relative;
	background-color: white;
	width: 500px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.instagram-logo {
	position: absolute;
	max-height: 100%;
	max-width: 100%;
	content: url("../images/instagram-logo.png");
	margin: 0 auto;
	left: 0; right: 0;
}


.navbar {
	/*width: 12%;*/
	/*height: 100%;*/
	position: fixed;
	background-color: black;
	z-index: 2;
}

.navbar-span-list {
	position: relative;
	background-color: black;
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.lines {
	position: relative;
	width: 40%;
	margin: 0 auto;
	margin-top: 4px;
	margin-bottom: 4px;
	border: 1px solid white;
}

.lines-top {
	margin-top: 14px;
}

.navbar-container {
	width: 100%;
	position: relative;
	margin: 0 auto;
	display: none;
	opacity: 0;
}

.table-style {
	color: white;
}

.page-container {
	width: 80%;
	position: relative;
	overflow: auto;
	margin: 0 auto;
}

.selector-organizer {
	width: 100%;
	text-align: center;
}

.page-title {
	position: relative;
	color: white;
	font-size: 400%;
	margin-top: 20px;
}

.subtitle {
	font-size: 300%;
}

.navbar-logo {
	/*float: left;*/
	max-width: 160px;
	max-height: 100%;
	margin: 10px;
	background-color: black;
	content: url("../images/VClogo.png");

}

.navbar-selectors {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 50px;
	background-color: black;
}

.navbar-selector {
	font-weight: bold;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: white;
	display: inline-block;
	/*padding-left: 15px;*/
	/*padding-right: 15px;*/
}

.navbar-selector:hover {
	cursor: pointer;

}

.picture-text-overlay {
	position: absolute;
	width: 80%;
	left: 0; right: 0;
	margin: 0 auto;
	text-align: center;
	height: 450px;
	color: white;
	overflow: auto;
}

.picture-text-overlay p {
	font-size: 200%;
	position: absolute;
	top: 30%;
}

.sub-title {
	color: white;
}

.title-divs {
	position: relative;
	height: 100%;
	width: 100%;
	border: 2px solid black;
	background-color: white;
	overflow: hidden;
}

.carousel-divs {
	position: absolute;
	height: 100%;
	width: 100%;
}

.float-left {
	/*float: left;*/
}

.float-right {
	left: 500px;
}

.whitespace {
	width: 100%;
	height: 100px;
}

.title-container {
	width: 75%;
	height: 200px;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.carousel-container {
	width: 75%;
	text-align: center;
	margin: auto;
	position: absolute;
	left: 0; right: 0;
	padding-top: 50px;
}

.relative-wrapper {
	position: relative;
}

.carousel-display {
	display: inline-block;
}

.title-screen {
	background-color: black;
	background-image: url("../images/screen1.jpeg");
	background-size: cover;
}

.instagram-screen {
	background-color: black;
	background-image: url("../images/clients/instagram.jpg");
	background-size: cover;
}

.pinterest-screen {
	background-color: black;
	background-image: url("../images/clients/pinterest.jpg");
	background-size: cover;
}

.amazon-screen {
	background-color: black;
	background-image: url("../images/clients/amazon.jpg");
	background-size: cover;
}

.valve-screen {
	background-color: black;
	background-image: url("../images/clients/valve.jpg");
	background-size: cover;
}



.goldman {
	background-image: url("../images/goldman-sachs.png");
}

.bain {
	background-image: url("../images/bain.jpg");
}

.morgan {
	background-image: url("../images/morgan-stanley.png");
}