@import url(https://fonts.googleapis.com/css?family=Lato:300);

body {
	background-color: white;
	font-family: 'Cabin', sans-serif;
}

.generic-whitespace {
	width: 100%;
	height: 50px;
	background-color: white;

}

.white {
	color: white;
}

.footer-wrapper {
	/*position: relative;*/
	width: 100%;
	/*height: 200px;*/
	overflow: auto;
	background-color: #303030;
}

.footer-column {
	color: white;
	margin: 0 auto;
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.follow-row {
	margin: 7px;
	height: 25px;
	width: 100%;
	/*background-color: blue;*/
}

.follow-icon {
	height: 100%;
	width: 25px;
	/*background-color: white;*/
	background-size: cover;
	float: left;
}

.follow-link {
	width: calc(100% - 40px);
	float: right;
}

.signature {
	position: absolute;
	right: 0; bottom: 0;
	font-size: 10px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	width: 200px;
	color: white;
	background-color: #202020;
}

.signature-wrapper {
	position: relative;
	background-color: #202020;
	height: 20px;
	width: 100%;
}

.link-redirect {
	text-decoration: none;
	color: white;
}

.link-redirect:hover {
	color: white;
	cursor: pointer;
    text-decoration: underline;
}

.black-background {
	background-color: black;
}

.black {
	color: black !important;
}

.arrow-wrapper-left {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 36px;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 70; left: 70;
	z-index: 1;
}

.arrow-wrapper-right {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 36px;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 70; right: 70;
	z-index: 1;
}

.arrow-wrapper-right:hover {
	cursor: pointer;
}

.arrow-wrapper-left:hover {
	cursor: pointer;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid white;
	position: relative;
	margin: auto;
	margin-right: 22px;
	margin-top: 14px;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right: 20px solid white; 
	position: relative;
	margin: auto;
	margin-left: 22px;
	margin-top: 14px;
}



.background-smolder {
	background-color: black;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.5;
}

.carousel-smolder {
	opacity: 0.6;
}

.company {
	height: 250px;
	width: 250px;
	/*border: 2px solid black;*/
	margin: 10px;
	display: inline-block;
	background-size: cover;
}

.company-overlay {
	background-color: black;
	height: 100%;
	width: 100%;
	opacity: 0.2;
}

.executive-member {
	position: relative;
	height: 300px;
	width: 100%;
	margin-bottom: 50px;
	/*background-color: gray;*/
}

.pl-members {
	position: relative;
	/*height: 400px;*/
	width: 100%;
	margin-bottom: 50px;
	text-align: center;
}

.pl-picture-box {
	position: relative;
	height: 350px;
	width: 260px;
	/*background-color: blue;*/
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	display: inline-block;
}

.pl-picture {
	height: 260px;
	width: 260px;
	background-size: cover;
}

.pl-description {
	margin: auto;
	position: absolute;
	left: 0; right: 0; bottom: 0;
	/*background-color: red;*/
	margin-top: 5px;
	margin-bottom: 5px;
	height: 80px;
	width: 100%;
}

.major-title {
	font-size: 20px;
	font-weight: bold;
}

.executive-picture {
	float: left;
	height: 300px;
	width: 300px;
	background-size: cover;
}


.executive-text {
	width: calc(100% - 400px);
	/*background-color: blue;*/
	/*margin-top: 20px;*/
	/*margin-bottom: 20px;*/
	margin: auto;
	position: absolute;
	right: 0; top: 0; bottom: 0;
	margin-left: 50px;
	margin-right: 50px;
	/*float: right;*/
	height: 200px;
	text-align: center;
	overflow: scroll;
}

.company-container {
	width: 100%;
	text-align: center;
}
.about-selector {
	border: 3px solid white;
	width: 45%;
	font-size: 20px;
	height: 30px;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	margin-left: 2%;
	margin-right: 2%;
	color: white;
	line-height: 30px;
}

.paragraph {
	/*color: white;*/
	margin-bottom: 60px;
	font-size: 20px;
}

.picture-frame {
	width: 56%;
	height: 100%;
	background-color: black;
	position: absolute;
	z-index: 1;
	/*overflow: hidden;*/
	/*text-align: center;*/
}

.logo-frame {
	width: 56%;
	height: 100%;
	background-color: black;
	position: absolute;
	right: 0;
}



.text-frame {
	/*height: 50px;*/
	height: 180px;
	width: 44%;
	/*guiding lines to see placement*/
	/*border: 2px solid white;*/
	/*width: 44%;*/
	text-align: center;
	background-color: black;
	position: absolute;
	color: white;
	margin: auto;
	right: 0; top: 0; bottom: 0;
}

.text-frame-logo {
	/*height: 50px;*/
	/*height: 220px;*/
	/*guiding lines to see placement*/
	/*border: 2px solid white;*/
	width: 44%;
	text-align: center;
	background-color: black;
	position: absolute;
	color: white;
	left: 0; top: 0; bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;


}

.member-display {
	background-color: black !important;
}

.grid-picture {
	/*border: 1px solid black;*/
	/*margin: 0 auto;*/
	float: left;
	background-color: white;
	/*display: inline-block;*/
	background-repeat: no-repeat;
	background-size: cover;
}

.grid-member-picture {
	/*border: 1px solid black;*/
	/*margin: 0 auto;*/
	float: right;
	background-color: white;
	/*display: inline-block;*/
	background-repeat: no-repeat;
	background-size: cover;
}

.float-right {
	float: right;
}


.mission-title {
	color: black;
	text-align: center;
	margin-top: 40px;
}

.line-break {
	width: 100%;
	height: 1px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: black;
}

.career-whitespace {
	width: 100%;
	height: 60px;
}

	/*.career-line-break {
		margin-top: 40px;
		margin-bottom: 80px;
	}*/

.picture {
	position: relative;
	height: 450px;
	width: 100%;
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 30%;
}

.about-picture {
	background-image: url("../images/team.jpg");
}

.career-picture {
	background-image: url("../images/careers.jpeg");
	/*opacity: 0.3;*/
	position: relative;
}

.about-launch {
	width: 100%;
	background-color: white;
	position: relative;
}

.career-launch {
	width: 100%;
	background-color: white;
	position: relative;
	/*top: 450px;*/
}

.about-alumni {
	background-color: white;
}

.main-title {
	color: white;
	font-size: 500%;
}

.title-logo {
	position: relative;
	background-color: white;
	width: 500px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.instagram-logo {
	position: absolute;
	max-height: 100%;
	max-width: 100%;
	content: url("../images/instagram-logo.png");
	margin: 0 auto;
	left: 0; right: 0;
}


.navbar {
	/*width: 12%;*/
	/*height: 100%;*/
	position: fixed;
	background-color: #282828;
	z-index: 2;
}

.navbar-span-list {
	position: relative;
	background-color: #282828;
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.side-navigation {
	z-index: 2;
	position: fixed;
	/*background-color: black;*/
	margin: auto;
	right: 20; top: 0; bottom: 0;
	height: 220px;
	width: 20px;
}

.selector {
	height: 8px;
	width: 8px;
	border-radius: 4px;
	background-color: gray;
	margin: auto;
	left: 0; right: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	cursor: pointer;
}

.selector:hover {
	background-color: white !important;
}


.lines {
	position: relative;
	width: 40%;
	margin: 0 auto;
	margin-top: 4px;
	margin-bottom: 4px;
	border: 1px solid white;
}

.lines-top {
	margin-top: 14px;
}

.navbar-container {
	width: 100%;
	position: relative;
	margin: 0 auto;
	display: none;
	opacity: 0;
}

.table-style {
	color: black;
}

.page-container {
	width: 80%;
	position: relative;
	overflow: auto;
	margin: 0 auto;
}

.selector-organizer {
	width: 100%;
	text-align: center;
}

.page-title {
	position: relative;
	color: black;
	font-size: 400%;
	margin-top: 20px;
}

.subtitle {
	font-size: 300%;
}

.navbar-logo {
	/*float: left;*/
	max-width: 160px;
	max-height: 100%;
	margin: 10px;
	background-color: #282828 ;
	content: url("../images/VClogo.png");

}

.navbar-selectors {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 50px;
	background-color: black;
}

.navbar-selector {
	font-weight: bold;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: white;
	display: inline-block;
	background-color: #282828;
	/*padding-left: 15px;*/
	/*padding-right: 15px;*/
}

.navbar-selector:hover {
	cursor: pointer;

}

.picture-text-overlay {
	position: absolute;
	width: 80%;
	left: 0; right: 0;
	margin: 0 auto;
	text-align: center;
	height: 450px;
	color: white;
	overflow: auto;
}

.picture-text-overlay p {
	font-size: 200%;
	position: absolute;
	top: 30%;
}

.sub-title {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 200%;
}

.title-divs {
	position: relative;
	height: 100%;
	width: 100%;
	/*border: 2px solid black;*/
	background-color: white;
	overflow: hidden;
}

.carousel-divs {
	position: absolute;
	height: 100%;
	width: 100%;
}

.float-left {
	/*float: left;*/
}

.float-right {
	left: 500px;
}

.whitespace {
	width: 100%;
	height: 100px;
}

.title-container {
	width: 75%;
	height: 200px;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.carousel-container {
	width: 75%;
	text-align: center;
	margin: auto;
	position: absolute;
	left: 0; right: 0;
	padding-top: 50px;
}

.relative-wrapper {
	position: relative;
}

.carousel-display {
	display: inline-block;
}

.redirect-display {
	background-color: black;
	overflow: scroll;
	text-align: center;
	/*min-width: 400px;*/
	/*display: inline;*/
}

/*.redirect-box {
	height: 200px;
	width: 400px;
	border: 2px solid white;
	position: absolute;
	margin: auto;
	color: white;
	top: 0; bottom: 0; left: 0; right: 0;
}
*/

.redirect-title {
	margin: auto;
	position: absolute;
	color: white;
	top: 0; bottom: 0; left: 0; right: 0;
	height: 40px;
	/*width: 300px;*/
}

.redirect-box {
	height: 50%;
	width: 50% !important;
	margin: 0 auto;
	/*left: calc((100% - 400px)/2);*/
	margin-left: 0 !important;
	/*border: 1px solid white;*/
	position: relative;
	/*min-width: 400px;*/

}
.redirect-topleft {
	top: 150;
	left: 250;
	bottom: auto;
	right: auto;
}

.redirect-bottomleft {
	top: auto;
	left: 250;
	bottom: 150;
	right: auto;
}
.redirect-topright {
	top: 150;
	left: auto;
	bottom: auto;
	right: 250;
}
.redirect-bottomright {
	top: auto;
	left: auto;
	bottom: 150;
	right: 250;
}

.title-screen {
	background-color: black;
	background-image: url("../images/screen1.jpeg");
	background-size: cover;
}

.instagram-screen {
	background-color: black;
	background-image: url("../images/clients/instagram.jpg");
	background-size: cover;
}

.pinterest-screen {
	background-color: black;
	background-image: url("../images/clients/pinterest.jpg");
	background-size: cover;
}

.amazon-screen {
	background-color: black;
	background-image: url("../images/clients/amazon.jpg");
	background-size: cover;
}

.valve-screen {
	background-color: black;
	background-image: url("../images/clients/valve.jpg");
	background-size: cover;
}



.goldman {
	background-image: url("../images/goldman-sachs.png");
}

.bain {
	background-image: url("../images/bain.jpg");
}

.morgan {
	background-image: url("../images/morgan-stanley.png");
}