{% include "header.html" %}
<body>
	<div class="display-picture"></div>
	<div class="about-launch">
		<div class="page-container">
			<div class="about-wrapper">
				<h2 class="page-title"> About </h2>
				<div class="about-selector">About Us</div>
				<div class="about-selector">Leadership</div>
				<div class="line-break"></div>
				<h3 class="mission-title"> Mission </h3>
				<p class="paragraph white">
					Voyager was started to connect top tier talent at UC Berkeley with innovative companies in the Bay Area. The founders envisioned a future where companies and students could work together to collaboratively solve big problems. We do this by providing insightful deliverables that are actionable and align with a client's long term mission.
				</p>
				<h3 class="mission-title"> History </h3>
				<p class="paragraph white">
					Voyager has partnered with clients across the tech spectrum with a proven track record of solving difficult, complex problems using fact-based, expert supported solutions. We have always valued recommending solutions that uphold the client's interest, supporting solutions with data, and working tirelessly to build the right strategy. Each team is built around each client and strives each and every day to craft an innovative solution that delivers direct value to a clients's goal and provides thorough insights for the future.
					<br><br>
					Even though Voyager was founded in the Fall of 2012, we have been growing fast. Our client list already includes notable companies such as Amazon, the National Basketball Association, and Instagram. And with less than 50 alumni and current members combined, we have already placed our consultants into firms such as Goldman Sachs and Bain & Company.
				</p>
				<h3 class="mission-title"> Culture </h3>
				<p class="paragraph white">
					We continually develop our consultants. We hold internal seminars, trainings, and professional events to help members advance their critical thinking and networking skills. Voyager also prides itself in its social culture. Each consulting team becomes close over the semester, bonded by multiple social events, activities, and retreats. At the heart of Voyager, there is more than a consulting club; there is a family of driven individuals who strive to create an enriching personal and professional experience for every member.
				</p>
			</div>
		</div>
	</div>
	<div class="about-alumni">
		<div class="page-container">
			<h2 class="page-title black"> Alumni </h2>
			<p class="paragraph black">
				Check out our Careers page to see where recent members have gone to work. Alumni leverage their experiences and connections from Voyager to land positions at some of the leading institutions in management consulting, investment banking, and technology. Our alumni play an active role in mentoring Voyager members, leading training sessions, and providing advisory support to projects.
			</p>
			<div class="company-container">
				<!-- first row -->
				<div class="company goldman"><div class="company-overlay"></div></div>
				<div class="company bain"><div class="company-overlay"></div></div>
				<div class="company morgan"><div class="company-overlay"></div></div>
				<div class="company deloitte"><div class="company-overlay"></div></div>
				<!-- second row -->
				<div class="company kkr"><div class="company-overlay"></div></div>
				<div class="company accenture"><div class="company-overlay"></div></div>
				<div class="company creditsuisse"><div class="company-overlay"></div></div>
				<div class="company pwc"><div class="company-overlay"></div></div>
				<!-- third row -->
				<div class="company apple"><div class="company-overlay"></div></div>
				<div class="company microsoft"><div class="company-overlay"></div></div>
				<div class="company linkedin"><div class="company-overlay"></div></div>
				<div class="company ebay"><div class="company-overlay"></div></div>
				<!-- fourth row -->
				<div class="company intel"><div class="company-overlay"></div></div>
				<div class="company acrobat"><div class="company-overlay"></div></div>
				<div class="company yahoo"><div class="company-overlay"></div></div>
				<div class="company box"><div class="company-overlay"></div></div>
			</div>
		</div>
	</div>
</body>
{% include "footer.html" %}