{% include "header.html" %}
<meta name="title" content="#navbar-about">
<body>
	<div class="picture about-picture">
		<h2 class="page-title"> About </h2>
	</div>
	<iframe class="voyager-video" src="https://www.youtube.com/embed/L6W8h8gT6-E?autohide=1">
	<!-- src="http://www.youtube.com/embed/XGSy3_Czz8k"> -->
	</iframe>
	<div class="about-panels">
		<div class="six columns about-frame">
			<div class="about-wrapper">
				<h3 class="mission-title"> Mission </h3>
				<p class="paragraph black">
					Voyager Consulting is a UC Berkeley sponsored, student-run organization that provides strategy consulting services to growth-stage and Fortune 500 companies.
				</p>
				<div class="about-title-whitespace"></div>
				<h3 class="mission-title"> History </h3>
				<p class="paragraph black">
					Founded in 2012, Voyager has grown to 4 project teams and nearly 30 members. In that time Voyager has completed projects for a number of leading companies, including Amazon, Instagram and the NBA. Alumni have brought those experiences to prestigious firm such as Bain & Company, Deloitte, Google and Apple.
				</p>
			</div>
		</div>
		<div class="six columns about-frame goldengate-picture style-blue">
			<!-- <div class="six columns"> -->
			<!-- </div> -->
		</div>
	</div>
	<div class="about-panels">
		<div class="six columns about-frame voyager-culture-picture style-blue">
		</div>
		<div class="six columns about-frame">
			<div class="about-wrapper">
				<h3 class="mission-title"> Culture </h3>
				<p class="paragraph black">
					The Voyager team is a close group of individuals bonded by shared personal and professional pursuits. New members connect over a weekend retreat and regular weekly socials such as happy hours, team dinners, concerts, kick-backs and more.
				</p>
				<div class="about-title-whitespace"></div>
				<h3 class="mission-title"> People </h3>
				<p class="paragraph black">
					Voyager members hail from a diverse range of backgrounds and major including Regents Scholar, EECS, Business Administration, Economics, Rhetoric, and Public Policy.
					What defines a Voyager member is a desire to grow through real-world experiences through an avenue outside of Berkeley and academics.
				</p>
			</div>
		</div>
	</div>
	<div class="about-panels">
		<div class="six columns about-frame">
			<div class="about-wrapper">
				<h3 class="mission-title"> Projects </h3>
				<p class="paragraph black">
					Every semester Voyager works with clients on 4 different projects for 10-12 weeks. Projects are headed by a project leader and strategy advisor with a team of 4 to 5 consultants. Alumni and faculty mentors also play a role when appropriate.
					
				</p>
				<div class="about-title-whitespace"></div>
				<h3 class="mission-title"> Impact </h3>
				<p class="paragraph black">
					The key to Voyager’s growth has been a tireless work ethic to support the right strategy with the appropriate data no matter the size or difficulty of the problem.  Each team is built specifically around the client and strives to craft a solution that will not only inform a client decision but make a measurable impact towards a client’s goal.
				</p>
			</div>
		</div>
		<div class="six columns about-frame impact-picture style-blue">
		</div>
	</div>
	<!-- <div class="generic-whitespace"></div> -->
	<div class="about-launch">
		<div class="sub-title-container"></div>
		<div class="title-wrapper style-blue">
			<div class="executive-panel-title">Executives</div>
		</div>
		<div class="generic-whitespace"></div>
		<div class="page-container">
			<!-- <h2 class="page-title"> Leadership </h2> -->
			<div class="executive-box">
				<div class="executive-member">
					<div class="executive-picture savan-picture"></div>
					<div class="executive-text">
						Savan Patel
					</div>
					<div class="executive-description">
<!-- 						<p>
							Savan is a third year studying Computer Science and Rhetoric. Within Voyager, he helped grow the club’s client base to include later stage and established tech companies by solidifying agreements with clients such as Amazon, Pinterest, Box and Twitch TV. This summer he interned at Box in the User Operations department and currently is a venture capital associate at DoubleRock. In his free time, he enjoys following his hometown Trailblazers and watching his favorite sitcom The League.
						</p> -->
						<p>
							Vice President | Consulting <br>
							savan70@berkeley.edu
						</p>
					</div>
				</div>
				<div class="executive-member">
					<div class="executive-picture felix-picture"></div>
					<div class="executive-text">
						Felix Liu
					</div>
					<div class="executive-description">
						<p>
							President <br>
							felixliu@berkeley.edu
						</p>
					</div>
				</div>
				<div class="executive-member">
					<div class="executive-picture margarita-picture"></div>
					<div class="executive-text">
						Margarita Oreta
					</div>
					<div class="executive-description">
						<p>
							Vice President | External <br>
							moreta@berkeley.edu
						</p>
<!-- 						<p>
							Olivia is a third year studying Business Administration and Computer Science. Olivia began in Voyager as a consultant on the Twitch project and later was the project manager on the NBA project. Outside Voyager, Olivia has interned at Facebook and UBS and in her free time, enjoys sailing and going on adventures into the city.
						</p> -->
					</div>
				</div>
				<div class="executive-member">
					<div class="executive-picture sanchit-picture"></div>
					<div class="executive-text">
						Sanchit Shorewala
					</div>
					<div class="executive-description">
						<p>
							Vice President | Internal <br>
							sanchit.shorewala@berkeley.edu
						</p>
<!-- 						<p>
							Ted is a third year majoring in EECS and minoring in IEOR. Ted joined Voyager as a freshman on the Warby Parker team, and has served as a project leader for the Valve project. In his spare time, Ted enjoys playing chess and roller hockey.
						</p> -->
					</div>
				</div>
<!-- 				<div class="executive-member">
					<div class="executive-picture philmon-picture"></div>
					<div class="executive-text">
						Philmon Tanuri
					</div>
					<div class="executive-description">
						<p>
							Vice President | Finance <br>
							p.tanuri@berkeley.edu
						</p>
					</div>
				</div> -->
			</div>
		</div>
		<div class="generic-whitespace"></div>
		<div class="title-wrapper style-blue">
			<div class="executive-panel-title">Project Leaders</div>
		</div>
		<div class="generic-whitespace"></div>
		<div class="page-container">
			<div class="executive-box">
				<div class="executive-member">
					<div class="executive-picture ajay-picture"></div>
					<div class="executive-text">
						Ajay Shanmugham
					</div>
					<div class="executive-description">
						<p>
							ajaysha@berkeley.edu
						</p>
<!-- 						<p>
							Ajay is a current sophomore who is intending on studying business administration and economics. He grew up in Southern California and is a huge fan of the outdoors. In his free time, Ajay enjoys playing pick up basketball, watching the Lakers, and playing FIFA with his friends.
						</p> -->
					</div>
				</div>
				<div class="executive-member">
					<div class="executive-picture gwin-picture"></div>
					<div class="executive-text">
						Gwin Zhou
					</div>
					<div class="executive-description">
						<p>
							gwinzhou@berkeley.edu
						</p>
<!-- 						<p>
							Gwin Zhou is a senior double majoring in Economics and Computer Science. She joined Voyager in the fall of 2014. Gwin grew up in China and spent her first two years in college at the University of Michigan. In her spare time, Gwin enjoys reading, playing bridge (amateur), and going on road trips (as a passenger).
						</p> -->
					</div>
				</div>
				<div class="executive-member">
					<div class="executive-picture sumedh-picture"></div>
					<div class="executive-text">
						Sumedh Bhattacharya
					</div>
					<div class="executive-description">
						<p>
							<!-- Description -->
							sumedh1234@berkeley.edu
						</p>
					</div>
				</div>
				<div class="executive-member">
					<div class="executive-picture sanchit-picture"></div>
					<div class="executive-text">
						Sanchit Shorewala
					</div>
					<div class="executive-description">
						<p>
							sanchit.shorewala@berkeley.edu
						</p>
<!-- 						<p>
							Sanchit is a junior at Cal from New Delhi, India. An Economic and Statistics major, Sanchit is interested in economic systems and institutions. In my spare time Sanchit enjoys reading, stand up comedy and thinking about taking piano lessons over a good cup of cappuccino.
						</p> -->
					</div>
				</div>
			</div>
		</div>
		<div class="generic-whitespace"></div>
		<div class="title-wrapper style-blue">
			<div class="executive-panel-title"> Managers </div>
		</div>
		<div class="generic-whitespace"></div>
			<div class="page-container">
				<div class="executive-box">
					<div class="executive-member">
						<div class="executive-picture alishan-picture"></div>
						<div class="executive-text">
							Alishan Patel
						</div>
						<div class="executive-description">
							<p>
								External Manager <br>
								alishan.patel@berkeley.edu
							</p>
	<!-- 						<p>
								Ajay is a current sophomore who is intending on studying business administration and economics. He grew up in Southern California and is a huge fan of the outdoors. In his free time, Ajay enjoys playing pick up basketball, watching the Lakers, and playing FIFA with his friends.
							</p> -->
						</div>
					</div>
					<div class="executive-member">
						<div class="executive-picture margarita-prof-picture"></div>
						<div class="executive-text">
							Margarita Oreta
						</div>
						<div class="executive-description">
							<p>
								External Manager <br>
								moreta@berkeley.edu
							</p>
	<!-- 						<p>
								Gwin Zhou is a senior double majoring in Economics and Computer Science. She joined Voyager in the fall of 2014. Gwin grew up in China and spent her first two years in college at the University of Michigan. In her spare time, Gwin enjoys reading, playing bridge (amateur), and going on road trips (as a passenger).
							</p> -->
						</div>
					</div>
					<div class="executive-member">
						<div class="executive-picture lilac-picture"></div>
						<div class="executive-text">
							Lilac Peterson
						</div>
						<div class="executive-description">
							<p>
								External Manager <br>
								lilac.peterson@berkeley.edu
							</p>
	<!-- 						<p>
								Sanchit is a junior at Cal from New Delhi, India. An Economic and Statistics major, Sanchit is interested in economic systems and institutions. In my spare time Sanchit enjoys reading, stand up comedy and thinking about taking piano lessons over a good cup of cappuccino.
							</p> -->
						</div>
					</div>
					<div class="executive-member">
						<div class="executive-picture tommy-picture"></div>
						<div class="executive-text">
							Tommy Nguyen
						</div>
						<div class="executive-description">
							<p>
								<!-- Description -->
								Internal Manager <br>
								tommynguyen560@berkeley.edu
							</p>
						</div>
					</div>
					<div class="executive-member">
						<div class="executive-picture david-picture"></div>
						<div class="executive-text">
							David Liu
						</div>
						<div class="executive-description">
							<p>
								Internal Manager <br>
								davidzeyiliu@berkeley.edu
							</p>
	<!-- 						<p>
								Sanchit is a junior at Cal from New Delhi, India. An Economic and Statistics major, Sanchit is interested in economic systems and institutions. In my spare time Sanchit enjoys reading, stand up comedy and thinking about taking piano lessons over a good cup of cappuccino.
							</p> -->
						</div>
					</div>
				</div>
			</div>
		<!-- 			<div class="pl-members">
			<div class="pl-picture-box">
				<div class="pl-picture ajay-picture"></div>
				<div class='pl-description'>
								<div class='major-title'> Ajay Shanmugham </div>
				</div>
			</div>
			<div class="pl-picture-box">
				<div class="pl-picture gwin-picture"></div>
				<div class='pl-description'>
								<div class='major-title'> Gwin Zhou </div>
				</div>
			</div>
			<div class="pl-picture-box">
				<div class="pl-picture sumedh-picture"></div>
				<div class='pl-description'>
								<div class='major-title'> Sumedh Bhattacharya </div>
				</div>
			</div>
			<div class="pl-picture-box">
				<div class="pl-picture sanchit-picture"></div>
				<div class='pl-description'>
								<div class='major-title'> Sanchit Shorewala </div>
				</div>
			</div>
		</div> -->
		
	</div>
</div>
<div class="generic-whitespace"></div>
<div class="title-wrapper style-blue">
	<div class="executive-panel-title">Alumni</div>
</div>
<div class="generic-whitespace"></div>
<div class="about-alumni">
	<div class="page-container">
		<p class="paragraph black">
			Check out our Careers page to see where recent members have gone to work. Alumni leverage their experiences and connections from Voyager to land positions at some of the leading institutions in management consulting, investment banking, and technology. Our alumni play an active role in mentoring Voyager members, leading training sessions, and providing advisory support to projects.
		</p>
		<div class="generic-whitespace"></div>
		<div class="company-container">
			<!-- first row -->
			<div class="company goldman"><div class="company-overlay"></div></div>
			<div class="company bain"><div class="company-overlay"></div></div>
			<div class="company morgan"><div class="company-overlay"></div></div>
			<div class="company deloitte-picture"><div class="company-overlay"></div></div>
			<div class="company mckinsey-picture"><div class="company-overlay"></div></div>
			<!-- second row -->
			<div class="company blackrock-picture"><div class="company-overlay"></div></div>
			<div class="company accenture-picture"><div class="company-overlay"></div></div>
			<div class="company credit-picture"><div class="company-overlay"></div></div>
			<div class="company pwc-picture"><div class="company-overlay"></div></div>
			<div class="company kkr-picture"><div class="company-overlay"></div></div>
			<!-- third row -->
			<div class="company wells-picture"><div class="company-overlay"></div></div>
			<div class="company dot-picture"><div class="company-overlay"></div></div>
			<div class="company facebook-picture"><div class="company-overlay"></div></div>
			<div class="company zs-picture"><div class="company-overlay"></div></div>
			<div class="company rdio-picture"><div class="company-overlay"></div></div>
			<!-- fourth row -->
			<div class="company cisco-picture"><div class="company-overlay"></div></div>
			<div class="company apple-picture"><div class="company-overlay"></div></div>
			<div class="company microsoft-picture"><div class="company-overlay"></div></div>
			<div class="company linkedin-picture"><div class="company-overlay"></div></div>
			<div class="company nest-picture"><div class="company-overlay"></div></div>
			<!-- fifth row -->
			<div class="company ebay-picture"><div class="company-overlay"></div></div>
			<div class="company surveymonkey-picture"><div class="company-overlay"></div></div>
			<div class="company acrobat-picture"><div class="company-overlay"></div></div>
			<div class="company google-picture"><div class="company-overlay"></div></div>
			<!-- <div class="company intel-picture"><div class="company-overlay"></div></div> -->
		</div>
	</div>
</div>
<!-- // Mckinsey, Cisco, Nest, Google, Box, Pimco, EY, Rdio, Altman-Landry, litman, department of treasury, IBM, Wells Fargo, KKR, Facebook, NBC, ZS Associates, Citrix -->
<div class="generic-whitespace"></div>
</body>
{% include "footer.html" %}