{% include "header.html" %}
<meta name="title" content="#navbar-home">

<div class="title-divs title-screen">
	<div class="background-smolder"></div>
	<div class="title-container">
		<h1 class="main-title"> Voyager Consulting </h1>
		<h2 class="sub-title"> Impact Driven </h2>
	</div>
</div>
<div id="instagram-container"></div>

<script type="text/template" id="instagram-template">
	{% include "carousel/instagram.html" %}
</script>
<script type="text/template" id="pinterest-template">
	{% include "carousel/pinterest.html" %}
</script>
<script type="text/template" id="amazon-template">
	{% include "carousel/amazon.html" %}
</script>
<script type="text/template" id="valve-template">
	{% include "carousel/valve.html" %}
</script>



<div class="title-divs">third div</div>
<div class="title-divs">fourth div</div>

{% include "footer.html" %}