{% include "header.html" %}
<meta name="title" content="#navbar-home">
<div class="side-navigation">
	<div id="side-home" class="selector"></div>
	<div id="side-clients" class="selector"></div>
	<div id="side-members" class="selector"></div>
	<div id="side-business" class="selector"></div>
	<div id="side-redirect" class="selector"></div>
</div>
<div class="title-divs title-screen">
	<div class="background-smolder"></div>
	<div class="title-container">
		<h1 class="main-title"> Voyager Consulting </h1>
		<h2 class="sub-title"> Impact Driven </h2>
	</div>
</div>
<div class="title-divs carousel-display">
	<!-- <div class="carousel-divs current-carousel"></div> -->
	<div class="carousel-divs valve-carousel"></div>
	<div class="carousel-divs amazon-carousel"></div>
	<div class="carousel-divs pinterest-carousel"></div>
	<div class="carousel-divs instagram-carousel"></div>
</div>
<!-- <div id="carousel-display">
			<div id="instagram-container"></div>
</div> -->
<!-- Maybe have JavaScript render this instead of having it
done in the HTML as so -->
<div class="title-divs member-display">
	<div class="picture-frame">
		<div class="grid-picture crystal-picture"></div>
		<div class="grid-picture ted-picture"></div>
		<div class="grid-picture matt-picture"></div>
		<div class="grid-picture robbie-picture"></div>
		<div class="grid-picture natalie-picture"></div>
		<div class="grid-picture felix-picture"></div>
		<div class="grid-picture margarita-picture"></div>
		<div class="grid-picture olivia-picture"></div>
		<div class="grid-picture sumedh-picture"></div>
	</div>
	<div class="text-frame">
		<div class="text-wrapper">
			<h1 class="panel-title"> Our Members </h1>
			<p class="sub-title paragraph-wrap"> Driven people from a diversity of backgrounds and majors </p>
		</div>
	</div>
</div>
<div class="title-divs member-display style-green ">
	<div class="logo-frame">
		<div class="grid-member-picture google-picture"></div>
		<div class="grid-member-picture deloitte-picture"></div>
		<div class="grid-member-picture bain-picture"></div>
		<div class="grid-member-picture apple-picture"></div>
		<div class="grid-member-picture goldman-picture"></div>
		<div class="grid-member-picture blackrock-picture"></div>
		<div class="grid-member-picture credit-picture"></div>
		<div class="grid-member-picture surveymonkey-picture"></div>
		<div class="grid-member-picture ebay-picture"></div>
		<div class="grid-member-picture mckinsey-picture"></div>
		<div class="grid-member-picture pwc-picture"></div>
		<div class="grid-member-picture intel-picture"></div>
		<div class="grid-member-picture acrobat-picture"></div>
		<div class="grid-member-picture linkedin-picture"></div>
		<div class="grid-member-picture accenture-picture"></div>
		<div class="grid-member-picture microsoft-picture"></div>
	</div>
	<div class="text-frame-logo">
		<div class="text-wrapper">
			<h1 class="panel-title"> Our Companies </h1>
			<p class="sub-title table-style"> Alumni take their experience in Voyager to prestigious firms in consulting, finance, and technology </p>
		</div>
	</div>
</div>
<div class="title-divs redirect-display">
	<div class="six columns redirect-box">
		<div class="redirect-title-box topleft nba-picture">
			<div class="redirect-overlay"></div>
			<h3 class="redirect-title"> Services </h3>
		</div>
	</div>
	<div class="six columns redirect-box">
		<div class="redirect-title-box topright ucberkeley-picture">
			<div class="redirect-overlay"></div>
			<h3 class="redirect-title"> About </h3>
		</div>
	</div>
	<div class="six columns redirect-box">
		<div class="redirect-title-box bottomleft apply-box-picture">
			<div class="redirect-overlay"></div>
			<h3 class="redirect-title"> Apply </h3>
		</div>
	</div>
	<div class="six columns redirect-box">
		<div class="redirect-title-box bottomright voyager-group-picture">
			<div class="redirect-overlay"></div>
			<h3 class="redirect-title"> Team </h3>
		</div>
	</div>
	<!-- 	<div class="redirect-box redirect-topleft">Clients</div>
	<div class="redirect-box redirect-topright">History</div>
	<div class="redirect-box redirect-bottomleft">Social</div>
	<div class="redirect-box redirect-bottomright">Not sure what label works</div> -->
</div>
<script type="text/template" id="instagram-template">
	{% include "carousel/instagram.html" %}
</script>
<script type="text/template" id="pinterest-template">
	{% include "carousel/pinterest.html" %}
</script>
<script type="text/template" id="amazon-template">
	{% include "carousel/amazon.html" %}
</script>
<script type="text/template" id="valve-template">
	{% include "carousel/valve.html" %}
</script>
{% include "footer.html" %}