{% include "header.html" %}
<meta name="title" content="#navbar-recruiting">
<body>
	<div class="picture recruiting-picture">
		<h2 class="page-title recruiting-header-title"> Recruiting </h2>
		<div class="header-overlay"></div>
	</div>
	<!-- <div class="generic-whitespace"></div> -->
	<div class="title-wrapper style-purple">
		<div class="executive-panel-title">Recruiting Timeline</div>
	</div>
	<div class="page-container">
		<div class="line-break"></div>
		<table class="u-full-width table-style">
			<tr class="cabin-font">
				<th> Event </th>
				<th> Date </th>
				<th> Location </th>
			</tr>
			<tr>
				<td> Tabling </td>
				<td> August 25 - September 11 </td>
				<td> Sproul Plaza </td>
			</tr>
			<tr>
				<td> Voyager First InfoSession </td>
				<td> September 9 at 7:00pm </td>
				<td> Moffit 101 </td>
			</tr>
			<tr>
				<td> Voyager Second InfoSession </td>
				<td> September 10 at 7:00pm </td>
				<td> Moffit 101 </td>
			</tr>
			<tr>
				<td> Case Workshop </td>
				<td> September 11 </td>
				<td> Dwinelle 109 </td>
			</tr>
			<tr>
				<td> App Deadline </td>
				<td> September 12 - Noon </td>
				<td> Voyager Website</td>
				<!-- <td> Dwinelle 109 </td> -->
			</tr>
			<tr>
				<td> First Round Interviews </td>
				<td> September 14 </td>
				<td> Haas Library </td>
			</tr>
			<tr>
				<td> Meet Voyager </td>
				<td> September 17 </td>
				<td> Haas Library </td>
			</tr>
			<tr>
				<td> Second Round Interviews </td>
				<td> September 18 </td>
				<td> Haas Library </td>
			</tr>
		</table>
		<div class="whitespace"></div>
	</div>
</body>
{% include "footer.html" %}