{% include "header.html" %}
<meta name="title" content="#navbar-recruiting">
<body>
	<div class="picture recruiting-picture">
		<h2 class="page-title recruiting-header-title"> Recruiting </h2>
		<div class="header-overlay"></div>
	</div>
	<!-- <div class="generic-whitespace"></div> -->
	<div class="title-wrapper style-voyager-green">
		<div class="executive-panel-title">Recruiting Timeline</div>
	</div>
	<div id='calendar'></div>
	<div class="page-container">
		<!-- <div class="line-break"></div> -->
		<table class="u-full-width table-style">
			<tr class="cabin-font">
				<th> Event </th>
				<th> Date </th>
				<th> Location </th>
			</tr>
			<tr>
				<td> Tabling </td>
				<td> January 19 - 29 </td>
				<td> Sproul Plaza </td>
			</tr>
			<tr>
				<td> Voyager First InfoSession </td>
				<td> January 27 at 7:00pm </td>
				<td> Moffitt 101 </td>
			</tr>
			<tr>
				<td> Voyager Second InfoSession </td>
				<td> January 28 at 7:00pm </td>
				<td> Moffitt 101 </td>
			</tr>
			<tr>
				<td> Case Workshop </td>
				<td> January 29 at 8:00pm </td>
				<td> Dwinelle 229 </td>
			</tr>
			<tr>
				<td> App Deadline </td>
				<td> January 29 at 11:59pm </td>
				<td> Voyager Website </td>
			</tr>
			<tr>
				<td> First Round Interviews </td>
				<td> January 31 - February 1 </td>
				<td> Haas Library </td>
			</tr>
			<tr>
				<td> Voyager Social Round </td>
				<td> February 2 </td>
				<td> TBD </td>
			</tr>
			<tr>
				<td> Second Round Interviews </td>
				<td> February 4 </td>
				<td> Haas Library </td>
			</tr>
		</table>
		<div class="whitespace"></div>
	</div>
</body>
{% include "footer.html" %}