{% include "header.html" %}
<meta name="title" content="#navbar-services">
<body>
	<div class="load-screen">
		<?xml version="1.0" encoding="utf-8"?>
		<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
		<svg class="voyager-load" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;" xml:space="preserve">
		<style type="text/css">
			.st0{fill:none;stroke:#FFFFFF;stroke-width:10;stroke-miterlimit:10;}
			.st1{fill:#FFFFFF;stroke:#FFFFFF;stroke-miterlimit:10;}
		</style>
		<path class="st0" d="M501,445.3c-20.4,88.9-99.9,155.2-195,155.2c-110.5,0-200-89.5-200-200s89.5-200,200-200
			c96.1,0,176.3,67.7,195.6,158"/>
		<polygon class="st1" points="278.8,557.9 303.8,557.9 328.8,557.9 422.1,278 397.1,278 303.8,532.9 210.4,278 185.4,278 "/>
		</svg>
	</div>
	<div class="picture services-picture">
		<h2 class="page-title service-header-title"> Services </h2>
	</div>
	<div class="title-wrapper">
		<!-- <div class="generic-whitespace"></div> -->
		<div class="executive-panel-title">Industries</div>
		<!-- <div class="generic-whitespace"></div> -->
	</div>
	<div class="service-subject-wrapper style-gray">
		<div class="three columns service-subject-frame tech-picture">
			Technology
		</div>
		<div class="three columns service-subject-frame media-picture">
			<div class="service-overlay"></div>
			<p class="service-text"> Media </p>
		</div>
		<div class="three columns service-subject-frame manufacturing-picture">
			<div class="service-overlay"></div>
			<p class="service-text"> Manufacturing </p>
		</div>
		<div class="three columns service-subject-frame retail-picture">
			<div class="service-overlay"></div>
			<p class="service-text"> Retail </p>
		</div>
		<div class="three columns service-subject-frame healthcare-picture">
			Healthcare
		</div>
		<div class="three columns service-subject-frame public-picture">
			Public Sector
		</div>
		<div class="three columns service-subject-frame consumer-picture">
			Consumer Goods
		</div>
		<div class="three columns service-subject-frame travel-picture">
			Travel
		</div>
	</div>
	<!-- <div class="generic-whitespace"></div> -->
	<div class="title-wrapper">
		<!-- <div class="generic-whitespace"></div> -->
		<div class="executive-panel-title">Expertise</div>
		<!-- <div class="generic-whitespace"></div> -->
	</div>
	<div class="services-box-container">
		<div class="services-box">
			<div class="service-box-title">
				Market Research
			</div>
			<div class="service-box-picture market-research-picture">
			</div>
			<div class="service-box-description">
				<p>  Industry Overview &middot;  Trends Analysis &middot;  Competitor Landscape 
				</p>
			</div>
		</div>
		<div class="services-box">
			<div class="service-box-title">
				Marketing and Sales
			</div>
			<div class="service-box-picture coach-ad-picture">
			</div>
			<div class="service-box-description">
				<p> Advertising Strategy &middot; Brand Positioning &middot; Sales Development 
				</p>
			</div>
		</div>
		<div class="services-box">
			<div class="service-box-title">
				Business Model
			</div>
			<div class="service-box-picture business-model-picture">
			</div>
			<div class="service-box-description">
				<p> Customer Segmentation &middot; Value Proposition &middot;  Distribution 
				</p>
			</div>
		</div>
		<div class="services-box">
			<div class="service-box-title">
				Product Research
			</div>
			<div class="service-box-picture product-research-picture">
			</div>
			<div class="service-box-description service-box-margin">
				<p>  Product Line &middot; Monetization
				</p>
			</div>
		</div>
		<div class="services-box">
			<div class="service-box-title">
				Operations
			</div>
			<div class="service-box-picture operations-picture">
			</div>
			<div class="service-box-description service-box-margin">
				<p> Vendor Selection &middot; People Management
				</p>
			</div>
		</div>
		<div class="services-box">
			<div class="service-box-title">
				Pricing
			</div>
			<div class="service-box-picture pricing-picture">
			</div>
			<div class="service-box-description service-box-margin">
				<p>  Cost Structure Analysis &middot; Pricing Models
				</p>
			</div>
		</div>
		<!-- <h1> ALRIRIRIRIGHGHGHT </h1> -->
	</div>
	
</body>
{% include "footer.html" %}