{% include "header.html" %}
<meta name="title" content="#navbar-services">
<body>
	<div class="load-screen">
		<div class="load-circle"></div>
	</div>
	<div class="picture services-picture">
		<h2 class="page-title service-header-title"> Services </h2>
	</div>
	<div class="title-wrapper">
		<!-- <div class="generic-whitespace"></div> -->
		<div class="executive-panel-title">Industries</div>
		<!-- <div class="generic-whitespace"></div> -->
	</div>
	<div class="service-subject-wrapper style-green">
		<div class="three columns service-subject-frame tech-picture">
			Technology
		</div>
		<div class="three columns service-subject-frame media-picture">
			<div class="service-overlay"></div>
			<p class="service-text"> Media </p>
		</div>
		<div class="three columns service-subject-frame manufacturing-picture">
			<div class="service-overlay"></div>
			<p class="service-text"> Manufacturing </p>
		</div>
		<div class="three columns service-subject-frame retail-picture">
			<div class="service-overlay"></div>
			<p class="service-text"> Retail </p>
		</div>
		<div class="three columns service-subject-frame healthcare-picture">
			Healthcare
		</div>
		<div class="three columns service-subject-frame public-picture">
			Public Sector
		</div>
		<div class="three columns service-subject-frame consumer-picture">
			Consumer Goods
		</div>
		<div class="three columns service-subject-frame travel-picture">
			Travel
		</div>
	</div>
	<!-- <div class="generic-whitespace"></div> -->
	<div class="title-wrapper">
		<!-- <div class="generic-whitespace"></div> -->
		<div class="executive-panel-title">Expertise</div>
		<!-- <div class="generic-whitespace"></div> -->
	</div>
	<div class="services-box-container">
		<div class="services-box">
			<div class="service-box-title">
				Market Research
			</div>
			<div class="service-box-picture market-research-picture">
			</div>
			<div class="service-box-description">
				<p>  Industry Overview &middot;  Trends Analysis &middot;  Competitor Landscape 
				</p>
			</div>
		</div>
		<div class="services-box">
			<div class="service-box-title">
				Marketing and Sales
			</div>
			<div class="service-box-picture coach-ad-picture">
			</div>
			<div class="service-box-description">
				<p> Advertising Strategy &middot; Brand Positioning &middot; Sales Development 
				</p>
			</div>
		</div>
		<div class="services-box">
			<div class="service-box-title">
				Business Model
			</div>
			<div class="service-box-picture business-model-picture">
			</div>
			<div class="service-box-description">
				<p> Customer Segmentation &middot; Value Proposition &middot;  Distribution 
				</p>
			</div>
		</div>
		<div class="services-box">
			<div class="service-box-title">
				Product Research
			</div>
			<div class="service-box-picture product-research-picture">
			</div>
			<div class="service-box-description service-box-margin">
				<p>  Product Line &middot; Monetization
				</p>
			</div>
		</div>
		<div class="services-box">
			<div class="service-box-title">
				Operations
			</div>
			<div class="service-box-picture operations-picture">
			</div>
			<div class="service-box-description service-box-margin">
				<p> Vendor Selection &middot; People Management
				</p>
			</div>
		</div>
		<div class="services-box">
			<div class="service-box-title">
				Pricing
			</div>
			<div class="service-box-picture pricing-picture">
			</div>
			<div class="service-box-description service-box-margin">
				<p>  Cost Structure Analysis &middot; Pricing Models
				</p>
			</div>
		</div>
		<!-- <h1> ALRIRIRIRIGHGHGHT </h1> -->
	</div>
	
</body>
{% include "footer.html" %}