<div class="career-whitespace"></div>
<div class="toggle-menu">
	<div class="toggle-row">
		<span class="year-span"> 2016 </span>
		<span class="year-span"> 2015 </span>
		<span class="year-span"> 2014 </span>
	</div>
	<div class="toggle-row">
		<span class="major-span"> Business </span>
		<span class="major-span"> Engineering </span>
	</div>
	<div class="toggle-row">
		<span class="type-span"> Full-Time </span>
		<span class="type-span"> Internship </span>
	</div>
</div>
<div class="career-whitespace"></div>

<table class="u-full-width table-style">
	<tr class="lato-bold">
		<th> Name </th>
		<th> </th>
		<th> Company </th>
		<th> Position </th>
		<th> Location </th>
	</tr>
	<% _.each(members, function(member){ %>
	<tr>
		<td> <%= member.name %> </td>
		<td> <div class="thumbnail-test"></div></td>
		<td class="member-company"> <%= member.company %> </td>
		<td> <%= member.position %> </td>
		<td> <%= member.city %> </td>
	</tr>
	<% }); %>
</table>